contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
imageio==2.34.0
importlib-resources==6.1.1
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.3
pandas==2.1.4
pillow==10.2.0
ppyPatternRecognition==0.0.2.3
pyparsing==3.1.1
pytz==2023.3.post1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
threadpoolctl==3.2.0
tifffile==2024.2.12
tqdm==4.66.1
tzdata==2023.4
zipp==3.17.0